* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.todo-box {
  background-color: antiquewhite;
  padding: 2rem;
  height: 70vh;
}

.todo-item {
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 0.4rem;
}

.todo-item p {
  font-size: 1.2rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  padding: 0.2rem 2rem;
  background-color: rgb(116, 95, 64);
}

textarea {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  margin: 1rem 0;
}

button {
  padding: 1rem 1.3rem;
  font-size: 0.9rem;
  border-radius: 1.1rem;
  border: none;
  background-color: aqua;
}

button:hover {
  cursor: pointer;
  background-color: rgb(7, 160, 160);
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  .todo-box {
    width: 70vw;
    height: 100vh;
  }

  .input-box {
    height: 100vh;
  }
}